$Bg: red;

$FS1: 12px;
$FS2: 14px;
$FS3: 16px;
$FS4: 18px;

$border1:1px solid rgba(0, 0, 0, 0.1);
$border2:1px solid rgba(0, 0, 0, 0.2);

$shadow:0 5px 15px -5px rgba(0,0,0,.5);
$shadow2:rgba(0, 0, 0, 0.24) 0px 3px 8px;